.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-header-ul {
  list-style-type: none;
}

.App-header-ul li {
  display: inline;
  margin: 0 1px;
}
