.pizzaItem-wrapper {
  width: 300px;
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.pizzaItem-image,
.pizzaItem-description,
.pizzaItem-button {
  padding: 2px;
}

.pizzaItem-description {
  height: 200px;
  padding: 4px;
}